/* Body */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700;6..12,800&display=swap');

/* Heading */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-shade-1: #100c27;
  --primary-shade-3: #4839a3;
  --primary-shade-4: #6c5ae0;
  --primary-shade-8: #d8d9fd;

  --hightlight: #f2bf4e;
  --hightlight-50: #f4ca6d;

  --gray-100: #212429;
  --gray-80: #636e7c;
  --gray-70: #7e8a98;
  --gray-60: #97a1ac;
  --gray-30: #cfd3d8;
  --gray-20: #e1e4e8;
  --gray-10: #f1f3f5;
}

@layer base {
  body {
    @apply bg-brand-400 text-white font-body bg-gradient-to-r from-brand-300 antialiased;
  }

  button {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer components {
  .button {
    @apply relative w-full py-3 text-base font-extrabold leading-[24px] tracking-[0.2px] uppercase text-bw-900 bg-highlight-0 border border-brand-900 flex items-center justify-center gap-2 transition-colors hover:bg-highlight-50 disabled:bg-bw-200 disabled:text-bw-600 disabled:cursor-not-allowed disabled:border-none;
  }
}

@layer utilities {
  .clip-path {
    clip-path: polygon(1% 100%, 99% 100%, 100% 0, 0 0);
  }
}
